%p#notice= notice

%p
  %b Name:
  = category.name

%p
  - category.products.each do |product|
    = link_to "#{product.title}", category_product_path(product,category), method: :get

%p
  %h3 New product
  = render 'products/form'

= link_to 'Edit', edit_category_path(category)
\|
= link_to 'Back', categories_path, class: 'btn btn-primary'
